<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WmiExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WmiExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WmiExplorer.Properties.Settings>
            <setting name="bCheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bPreserveLayout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRememberEnumOptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRememberRecentPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bUpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CacheAgeInMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EnumOptionsFlags" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="SplitterDistanceNamespaces" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="SplitterDistanceClasses" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SplitterDistanceInstances" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="UpdateCheckIntervalInDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/vinaypamnani/wmie2/releases</value>
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="bEnumModeAsync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSmsMode" serializeAs="String">
                <value>True</value>
            </setting>
        </WmiExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WmiExplorer.Properties.Settings>
            <setting name="UpdateCheckUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/vinaypamnani/wmie2/master/WmiExplorer/releases.xml</value>
            </setting>
            <setting name="UpdateCheckUrlBackup" serializeAs="String">
                <value>http://wmie.azurewebsites.net/releases.xml</value>
            </setting>
        </WmiExplorer.Properties.Settings>
    </applicationSettings>
</configuration>